<footer >
    <div  class="container">
        <div  class="row">
            <div  class="col-xl-3 col-md-5 col-12 first-col">
                <img  src="https://s3-eu-west-1.amazonaws.com/tpd/logos/5dea4136c988b70001c2d433/0x0.png" width="70%" alt="studentgator-logo">'
                <p class="description"> Walking with you every step of the way to help you achieve academic excellence </p>
            </div>
            <div  class="col-xl-3 col-md-3 col-6 services-col">
                    <div class="row services">
                        <p class="title">Services</p>
                        <a  href="http://marketplace.studentgator.com/#/services?step=application" target="_blank" class="link">Application</a><br>
                        <a href="http://marketplace.studentgator.com/#/services?step=confirm" target="_blank" class="link">Confirm</a>
                        <a  href="http://marketplace.studentgator.com/#/services?step=visa" target="_blank" class="link">Visa</a>
                        <a  href="http://marketplace.studentgator.com/#/services?step=accomodation" target="_blank" class="link">Accommodation</a>
                        <a href="http://marketplace.studentgator.com/#/services?step=inFrance" target="_blank" class="link">In France</a>
                    </div>
                </div>
                <div  class="col-xl-3 col-md-4 col-6 info-col">
                    <div  class="row">
                        <p class="title">Information</p>
                        <a routerlink="home" >Home</a>
                        <a routerlink="programs" >Programs</a>
                        <a routerlink="Blogs">Blogs</a>
                        <a routerlink="about" >About us</a>
                        <a routerlink="/auth/login" class="link" >Login</a></div>
                    </div>
                    <div  class="col-xl-3 col-md-4 col-12 contact-col">
                        <div  class="row">
                            <p  class="title">Contact us</p><br>
                            <div class="d-flex justify-content-start align-items-start">
                                <i  class="fas fa-phone-alt me-2 pt-1"></i>
                                <p  class="contact">+33 7 66 70 09 73</p>
                            </div>
                            <div  class="d-flex justify-content-start align-items-start">
                                <i  class="fas fa-envelope me-2 pt-1"></i>
                                <p class="contact">admin@studentgator.com</p>
                            </div><div  class="d-flex justify-content-start align-items-start">
                                <i  class="fas fa-home me-2 pt-1"></i>
                                <p  class="contact">42 Av. Claude Vellefaux, 75010 Paris,&nbsp;France</p>
                            </div>
                        </div>
                    </div>
                    <div class="links d-flex justify-content-start align-items-center">
                        <a href="https://www.instagram.com/studentgator/?hl=en" title="instgram" target="_blank" class="circle d-flex justify-content-center align-items-center">
                            <i  class="fab fa-instagram"></i>
                        </a>
                        <a  href="https://www.linkedin.com/company/studentgator/" title="linked-in" target="_blank" class="circle d-flex justify-content-center align-items-center">
                            <i class="fab fa-linkedin-in"></i></a>
                            <a href="https://twitter.com/_studentgator" title="twitter" target="_blank" class="circle d-flex justify-content-center align-items-center">
                                <i class="fab fa-twitter"></i></a>
                                <a href="https://www.facebook.com/StudentGator/" title="facebook" target="_blank" class="circle d-flex justify-content-center align-items-center">
                                    <i  class="fab fa-facebook-f"></i></a>
                                </div>
                            </div>
                        </div>
                        <hr ><div class="container">
                            <p class="rights">© 2021 StudentGator All rights reserved.</p>
                        </div></footer>